.bar{
	background-color: #2E2D2B;
	flex-grow:0.3;
	a{
		display: block;
		text-align: center;
		color: #92908D;
		font-size: 20px;
		line-height: 3;
	}
	.v-link-active{
		color: #fff;
		border-left: 5px solid #DA4F4A;
	}
	.hello{
		height: 45px;
		width: 45px;
		margin: 10px auto 30px auto;
		border-radius: 50%;
		border:1px solid #fff;
		background-color: #D8D8D8;
	}
}

.window{
	flex-grow: 11.7;
	background-color: #F8F6F2;
}